version: "3.8"
services:
# Cria o container do MySQL
  mysql-db:
    image: mysql:5.7.42-debian
    restart: unless-stopped
    ports: 
      - 3306:3306
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - backend
volumes:
  mysql_data:
networks:
  backend:
